*{
    margin:0;
    padding: 0;
    font-family: 'dm sans';
}

body{
    background-color: #202020;
    color:white;
}

.banner{
    width:100vw;
    display: flex;
    margin-top:5rem;
    justify-content: center;
}

.banner ul.left{
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner ul.left h1{
    font-size: 5rem;
    font-weight: 500;
}

.banner ul.left p{
    text-align: left;
    font-size: 1.1rem;
    width:12rem;
}

.banner ul.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40vw;
}

section.form form .error-block{
    text-align: center;
    padding: .8rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: orangered;
    max-width:22rem;
}

section form{
    display: grid;
}

section form input{
    border:2px solid #b6afaf;
    outline: none;
    background-color: #202020;
    font-size: 1.05rem;
    color:#b6afaf;
    padding: .75rem;
    border-radius: 5px;
}

section form input:focus{
    border:2px solid white;
    color:white;
}

section form label{
    margin-top: 2rem;
    margin-bottom: .4rem;
}

section.form a{
    color:white;
}

section form button{
    margin-top: 2.4rem;
    border:none;
    outline: none;
    font-size:1.1rem;
    font-weight: 700;
    padding:.85rem 0;
    border-radius: 5px;
    background-color: white;
    color:black;
    margin-bottom: 1rem;
}

section.form form .set-role{
    display: flex;
    justify-content: space-around;
}

section.form form .set-role button{
    opacity: .5;
    padding:.85rem 1.5rem;
    margin-top: 1.5rem;
}

section.form form .set-role button.active{
    opacity: 1;
}

section.submit-ride{
    width:100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

section.submit-ride form{
    width:27rem
}

section.submit-ride section button{
    margin:0;
    padding:0 1rem;
}

section.submit-ride section{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 420px) {
    .banner{
        flex-direction: column;
        margin-top: 2rem;
    }

    .banner ul.left, .banner ul.right{
        width:inherit;
    }

    .banner ul.left{
        margin-bottom: 2rem;
    }

    section.submit-ride section{
        display: grid;
        grid-template-columns: 1fr;
    }    

    section.submit-ride section button{
        margin-top: .8rem;
        padding:.8rem 0;
    }

    section.submit-ride form{
        width:23rem
    }    

}